$icons: (
	sprite: (
		width: 98px,
		height: 83px,
		pngPath: 'images/sprite.png',
		svgPath: 'images/sprite.svg'
	),
	arrow-down-gray: (
		width: 9px,
		height: 9px,
		backgroundX: -79px,
		backgroundY: -68px
	),
	arrow-down-white: (
		width: 9px,
		height: 9px,
		backgroundX: -70px,
		backgroundY: -68px
	),
	arrow-left-blue: (
		width: 12px,
		height: 12px,
		backgroundX: -70px,
		backgroundY: -50px
	),
	arrow-right-blue: (
		width: 12px,
		height: 12px,
		backgroundX: -29px,
		backgroundY: -68px
	),
	arrow-up-white: (
		width: 9px,
		height: 9px,
		backgroundX: -61px,
		backgroundY: -68px
	),
	card: (
		width: 35px,
		height: 23px,
		backgroundX: 0px,
		backgroundY: 0px
	),
	clock-blue: (
		width: 16px,
		height: 16px,
		backgroundX: -82px,
		backgroundY: -32px
	),
	close-white: (
		width: 16px,
		height: 16px,
		backgroundX: -82px,
		backgroundY: -48px
	),
	headphones: (
		width: 27px,
		height: 27px,
		backgroundX: 0px,
		backgroundY: -23px
	),
	minus-blue: (
		width: 10px,
		height: 10px,
		backgroundX: -62px,
		backgroundY: -39px
	),
	minus-gray: (
		width: 10px,
		height: 10px,
		backgroundX: -51px,
		backgroundY: -68px
	),
	mobile-menu-white: (
		width: 18px,
		height: 18px,
		backgroundX: -18px,
		backgroundY: -50px
	),
	phone-gray: (
		width: 16px,
		height: 16px,
		backgroundX: -82px,
		backgroundY: 0px
	),
	placeholder-blue: (
		width: 18px,
		height: 18px,
		backgroundX: 0px,
		backgroundY: -50px
	),
	plus-blue: (
		width: 10px,
		height: 10px,
		backgroundX: -41px,
		backgroundY: -68px
	),
	plus-gray: (
		width: 10px,
		height: 10px,
		backgroundX: -72px,
		backgroundY: -39px
	),
	question-mark-white: (
		width: 15px,
		height: 15px,
		backgroundX: 0px,
		backgroundY: -68px
	),
	search-gray: (
		width: 17px,
		height: 17px,
		backgroundX: -53px,
		backgroundY: -50px
	),
	search-white: (
		width: 17px,
		height: 17px,
		backgroundX: -36px,
		backgroundY: -50px
	),
	shopping-cart-gray: (
		width: 19px,
		height: 19px,
		backgroundX: -62px,
		backgroundY: -20px
	),
	shopping-cart-white: (
		width: 20px,
		height: 20px,
		backgroundX: -62px,
		backgroundY: 0px
	),
	star: (
		width: 26px,
		height: 24px,
		backgroundX: -35px,
		backgroundY: -22px
	),
	truck: (
		width: 27px,
		height: 22px,
		backgroundX: -35px,
		backgroundY: 0px
	),
	user-gray: (
		width: 14px,
		height: 14px,
		backgroundX: -15px,
		backgroundY: -68px
	),
	user-white: (
		width: 16px,
		height: 16px,
		backgroundX: -82px,
		backgroundY: -16px
	)
);
