$font-family: Arial, Helvetica Neue, Helvetica, sans-serif;

$color-black-1: #181f29;
$color-black-2: #2c3645;
$color-blue-1: #0d5bc1;
$color-blue-2: #b2d2f1;
$color-blue-3: #1c69c0;
$color-lightgray-1: #edf2fa;
$color-lightgray-2: #d3d9e0;
$color-lightgray-3: #a8b2c2;
$color-lightgray-4: #dae0e7;
$color-lightgray-5: #e4e5e9;
$color-darkgray-1: #394960;
$color-darkgray-2: #7e8fa5;
$color-darkgray-3: #7d8da5;
$color-yellow-1: #f8f336;
$color-yellow-2: #f0ba3d;
$color-red-1: #e31823;
$color-white-1: #ffffff;
$color-white-2: #ebedef;
$color-white-3: #f7f9fa;